

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: $dark;
    background-color: #fff;
    line-height: 1.2;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background-color: $orange;
    line-height: 1.9;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 0.06em;
}

.section {
    text-align: center;
    padding: 94px 0;
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.hidden {
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }