body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: $dark;
    background-color: #fff;
    line-height: 1.2;

    &.lock {
        overflow: hidden;
    }
}

.container {

        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;

}

.btn {
    display: inline-block;
    background-color: $orange;
    line-height: 1.9;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 0.06em;
    transition: box-shadow 0.5s;
    outline: 1px solid transparent;
    outline-offset: 4px;
    transition: outline 0.5s, box-shadow 0.5s;

    &:hover {
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    }

    &:focus {
        outline: 1px solid $orange;
    }

    &:active {
        box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
    }
}

.section {
    text-align: center;
    padding: 60px 0;

    @media (min-width:1200px) {
        padding: 94px 0;
    }
    
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo-default {
    outline: 1px solid transparent;
    outline-offset: 2px;
    transition: outline 0.5s, opacity 0.5s;

    &:hover {
        opacity: 0.8;
    }

    &:focus {
        outline: 1px solid $orange;
        border-radius: 4px;
    }

    &:active {
        opacity: 0.5;
    }
}

.logo__img {
    display: none;

    @media (min-width:1200px) {
        display: block;
    }
}

.logo__img-small {
    display: block;
    padding: 20px 0;

    @media (min-width:1200px) {
        display: none;
    }
}

.social {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;

    &__icon {
        fill: $light;
        transition: fill 0.5s;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        outline-offset: 2px;
        outline: 1px solid transparent;
        border-radius: 50%;
        transition: background-color 0.5s, outline 0.5s, box-shadow 0.3s;

        &:hover {
            .social__icon {
                fill: #fff;
            }

            background-color: $orange;
        }

        &:focus {
            outline: 1px solid $orange;
        }

        &:active {
            background-color: $orange;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &--white {
            background-color: rgba(255, 255, 255, 0.1);

            .social__icon {
                fill: #fff;
            }
        }

    }


}