@import 'reset';
@import 'vars';
@import 'global';


.header {
    border: 1px solid #ECECEC;
    padding: 22px 0;

    &__container {
        display: flex;
        align-items: center;
    }

    &__contacts {
        font-size: 14px;
        margin-left: auto;
        display: flex;
    }

    &__contacts-link {
        color: $light;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 45px;
        }
    }

    &__contacts-icon {
        fill: $light;
        margin-right: 10px;
    }

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
        display: flex;
        margin-left: 89px;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }


    &__link {
        line-height: 1.2;
    }

}

.hero {
    background-color: #000;

    &__container {
        min-height: 56vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__inner {
        max-width: 685px;
        text-align: center;
    }

    &__title {
        color: #fff;
        text-transform: uppercase;
        font-size: 44px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 30px;
        letter-spacing: 0.06em;
    }
}

.about {
    text-align: left;

    &__list {
        display: flex;
        justify-content: space-between
    }

    &__item {
        font-size: 14px;
        max-width: 270px;
        width: 100%;
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    &__text {
        color: $light;
        line-height: 1.7;
    }
}

.services {
    text-align: center;
    padding-top: 0;

    &__list {
        display: flex;
        justify-content: space-between
    }

    &__item {
        max-width: 370px;
        width: 100%;
        position: relative;
    }

    &__title {
        padding: 25px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(47, 48, 58, 0.6);
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
    }
}

.team {
    background-color: #F5F4FA;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 270px;
        width: 100%;
        background-color: #fff;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 4px 4px;
    }

    &__info {
        padding: 30px 15px;
    }

    &__name {
        margin-bottom: 10px;
    }

    &__profession {
        color: $light;
    }
}

.footer {
    padding: 60px 0;
    background-color: black;

    &__logo {
        margin-bottom: 23px;
    }

    &__location-info {
        font-size: 14px;
    }

    &__location {
        display: block;
        color: #fff;
        margin-bottom: 10px;
    }

    &__contacts-link {
        color: #F29040;
    }

    &__contacts-link:not(:last-child) {
        margin-bottom: 10px;
    }
}

.works {
    &__list {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__btn {
        padding: 11px 26px;
        background-color: #F5F4FA;
        border-radius: 4px;
        line-height: 1;
        color: $dark;
        transition: background-color .5s, color .5s;
    }

    &__btn.mixitup-control-active {
        background-color: #EC3C05;
        color: #fff;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    &__gallery-link {
        position: relative;
        overflow: hidden;
    }

    &__gallery-link:hover .works__text {
        transform: translateY(0%);
    }

    &__info {
        padding: 20px 24px;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: $light;
        text-align: left;
        position: relative;
        background-color: #fff;
        z-index: 5;
    }

    &__title {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 5px;
        color: $dark;
    }

    &__subtitle {
        font-size: 16px;
        color: $light;
        line-height: 1.9;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        background-color: rgba(236, 60, 5, 0.8);
        font-size: 18px;
        line-height: 1.6;
        color: #fff;
        transition: transform 0.5s;

    }
}