@import 'reset';
@import 'vars';
@import 'global';


.header {

    padding: 22px 0;

    &__container {
        display: flex;
        align-items: center;
    }

    &__contacts {
        margin-left: auto;
        display: flex;
    }

    &__contacts-link {
        color: $light;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 45px;
        }
    }

    &__contacts-icon {
        margin-right: 10px;
    }

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
        display: flex;
        flex-grow: 1;
        margin-left: 89px;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }


    &__link {
        line-height: 1.2;
    }

}

.hero {
    background-color: #000;

    &__container {
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__inner {
        max-width: 685px;
        text-align: center;
    }

    &__title {
        color: #fff;
        text-transform: uppercase;
        font-size: 44px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 30px;
        letter-spacing: 0.06em;
    }
}

.about {
    &__list {
        display: flex;
        justify-content: space-between
    }

    &__item {
        font-size: 14px;
        max-width: 270px;
        width: 100%;
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    &__text {
        color: $light;
        line-height: 1.7;
    }
}

.services {
    text-align: center;
    padding-bottom: 94px;

    &__list {
        display: flex;
        justify-content: space-between
    }

    &__item {
        max-width: 370px;
        width: 100%;
        position: relative;
    }

    &__title {
        padding: 25px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(47, 48, 58, 0.6);
        color: #fff;
        text-transform: uppercase;
    }
}

.team {
    text-align: center;
    background-color: #F5F4FA;

    &__item {
        max-width: 270px;
        width: 100%;
        background-color: #fff;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 4px 4px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        padding: 30px 15px;
    }

    &__name {
        margin-bottom: 10px;
    }

    &__profession {
        color: $light;
    }
}

.footer {
    padding: 60px 0;
    background-color: black;

    &__logo {
        margin-bottom: 23px;
    }

    &__address-info {
        font-size: 14px;
    }

    &__address {
        display: block;
        color: #fff;
        margin-bottom: 10px;
    }

    &__contacts {
        color: #F29040;
    }

    &__contacts-link:not(:last-child) {
        margin-bottom: 10px;
    }
}


















@import 'media';