.footer {
    padding: 60px 0;
    background-color: #000;
    text-align: center;

    @media (min-width:768px) {
        text-align: center;
    }

    @media (min-width:1200px) {
        text-align: left;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 60px;

        @media (min-width:768px) {
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-around;
        }

        @media (min-width:1200px) {
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__location-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        letter-spacing: 0.03em;

        @media (min-width:768px) {

            text-align: center;
        }

        @media (min-width:1200px) {
            align-items: flex-start;

        }
    }

    &__location {
        color: #fff;
        margin-bottom: 10px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        max-width: 141px;
    }

    &__contacts-link {
        display: inline-block;
        color: #F29040;
        outline: 1px solid transparent;
        outline-offset: 1px;
        transition: color 0.5s;

        &:hover {
            color: $orange;
        }

        &:focus {
            outline: 1px solid $orange;
            border-radius: 4px;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__contacts-link:not(:last-child) {
        margin-bottom: 10px;
    }

    &__title {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;

        @media (min-width:768px) {
            text-align: center;
        }

        @media (min-width:1200px) {
            text-align: left;
        }
    }

    &__form {
        text-align: center;
        max-width: 570px;
        width: 100%;


    }

    &__label {
        display: block;
        margin-bottom: 20px;

        @media (min-width:768px) {
            display: inline-block;
            max-width: 450px;
            width: 100%;
            margin-right: 10px;
        }

        @media (min-width:1200px) {
            display: inline-block;
            max-width: 358px;
            width: 100%;
            margin-right: 10px;
        }
    }

    &__input {
        display: block;
        width: 100%;
        height: 50px;
        padding: 15px;

        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: #000;
        border-radius: 4px;
        outline-offset: 4px;
        transition: outline 0.5s;


        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
            transition: color 0.5s;
        }

        &:hover {
            &::placeholder {
                color: $orange;
            }
        }

        &:focus {

            outline: 1px solid $orange;
        }


    }

    &__btn {
        position: relative;
        padding: 10px 70px 10px 35px;

    }

    &__icon {
        position: absolute;
        right: 28px;
        top: 13px;
        fill: #fff;
    }
}