.hero {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;

    &__container {
        min-height: 56vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__inner {
        max-width: 390px;
        text-align: center;

        @media (min-width:1200px) {
            max-width: 685px;
        }


    }

    &__title {
        font-size: 24px;
        line-height: 1.6;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 30px;
        letter-spacing: 0.06em;

        @media (min-width:1200px) {
            font-size: 44px;
            line-height: 1.4;
        }
    }

    &__background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
    }

    &__background-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 56vh;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            min-height: 56vh;
            width: 100%;
            background-color: rgba(47, 48, 58, 0.6);
        }

    }
}

.about {
    text-align: left;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

        @media (min-width:768px) {
            flex-direction: row;
        }
    }

    &__item {
        width: 100%;
        font-size: 14px;

        @media (min-width:768px) {
            width: calc((100% - 1 * 30px) / 2);
        }

        @media (min-width:1200px) {
            width: calc((100% - 3 * 30px) / 4);
        }

    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        line-height: 1.2;
        text-align: center;
        
        @media (min-width:768px) {
            text-align: left;
        }
    }

    &__text {
        color: $light;
        line-height: 1.7;
    }

    &__icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 100%;
        border: 1px solid $light;
        border-radius: 4px;
        margin-bottom: 30px;
    }
}

.services {
display: none;

@media (min-width:1200px) {
    display: block;
    text-align: center;
    padding-top: 0;

    &__list {
        display: flex;
        justify-content: space-between
    }

    &__item {
        max-width: 370px;
        width: 100%;
        position: relative;
    }

    &__title {
        padding: 25px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(47, 48, 58, 0.6);
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
    }
}
   
}

.team {
    background-color: #F5F4FA;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
    }

    &__item {
        background-color: #fff;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 4px 4px;
        padding-bottom: 42px;
        width: 100%;

        @media (min-width:768px) {
            width: calc((100% - 1 * 30px) / 2);
        }

        @media (min-width:1200px) {
            width: calc((100% - 3 * 30px) / 4);
        }
        
        
    }

    &__img {
        width: 100%;
        height: calc(100% - 155px);
    }

    &__info {
        padding: 30px 15px;
    }

    &__name {
        margin-bottom: 10px;
    }

    &__profession {
        color: $light;
    }

}

.partners {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        height: 92px;
        width: calc((100% - 1 * 30px) / 2);

        @media (min-width:768px) {
            width: calc((100% - 2 * 30px) / 3);
        }
        @media (min-width:1200px) {
           
            width: calc((100% - 5 * 30px) / 6);
        }
       
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid $light;
        border-radius: 4px;
        transition: border-color 0.5s, outline 0.5s, opacity 0.5s;
        outline: 1px solid transparent;

        &:hover {
            border-color: $orange;

            .partners__icon {
                fill: $orange;
            }
        }

        &:focus {
            outline-color: $orange;
            outline-offset: 4px;
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__icon {
        fill: $light;
        transition: fill 0.5s;
    }

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 94px 15px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;

        .modal {
            transform: translate(-50%, -50%) scale(0);
        }
    }


}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    min-height: 581px;
    max-width: 528px;
    width: 100%;
    background-color: #fff;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    transition: transform 0.5s;
    text-align: center;

    &__btn-icon {
        transition: fill 0.5s;
    }

    &__btn-close {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: box-shadow 0.5s;

        &:hover {
            .modal__btn-icon {
                fill: $orange;
            }
        }

        &:focus {
            outline: 1px solid $orange;
        }

        &:active {
            box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.12);

            .modal__btn-icon {
                fill: $orange;
            }
        }
    }

    &__label {
        display: block;
        text-align: left;
    }

    &__label:not(:last-child) {
        margin-bottom: 10px;
    }

    &__label:nth-child(5) {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 10px;
        line-height: 1.2;
        font-size: 20px;
        color: #212121;
    }

    &__desc {
        display: block;
        margin-bottom: 5px;
        line-height: 1.2;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: $light;
    }

    &__input-wrapper {
        display: block;
        position: relative;
    }

    &__input {
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 14px 14px 14px 45px;
        outline: 1px solid transparent;
        transition: outline 0.5s;

        &:focus {
            outline: 1px solid $orange;

            &+.modal__icon {
                fill: $orange;
            }
        }

        &:hover+.modal__icon {
            fill: $orange;
        }
    }

    &__icon {
        position: absolute;
        left: 12px;
        top: 15px;
        fill: #212121;
        transition: fill 0.5s;
    }

    &__message {
        display: block;
        width: 100%;
        min-height: 120px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;

        &::placeholder {
            font-size: 14px;
            line-height: 1.2;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
    }

    &__checkbox-input {
        pointer-events: none;
        opacity: 0;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    &__checkbox-wrapper {
        width: 16px;
        height: 15px;
        margin-right: 7px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        border-radius: 2px;
        cursor: pointer;
        background-color: #fff;
    }

    &__checkbox-icon {
        fill: #fff;
    }

    &__agreemeet {
        display: inline-flex;
        color: $light;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }

    &__agreemeet-link {
        outline: 1px solid transparent;
        outline-offset: 2px;
        border-radius: 2px;
        transition: outline 0.5s, opacity 0.5s;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            outline: 1px solid $orange;
        }
    }

    .modal__checkbox-input:checked+.modal__checkbox-wrapper {
        border: none;
        background-color: $orange;
    }

    &__agreemeet-link {
        color: $orange;
        margin-left: 5px;
        text-decoration: underline;
    }

    &__btn {
        padding: 10px 68px;
    }

}