.mobile-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #fff;
    left: -1px;
    top: 0;
    transform: translateY(-200%);
    transition: transform 0.5s;

    &__container {
        position: relative;
        max-width: 480px;
        padding-left: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__btn-open {
        display: block;

        @media (min-width:768px) {
            display: none;
        }
    }

    &__btn-close {
        position: absolute;
        right: 15px;
        top: 6px;
    }

    &--active {
        transform: translateY(0%);
    }

    &__item:not(:last-child) {
        margin-bottom: 35px;

        @media (max-width:768px) and (orientation:landscape) {
            margin-bottom: 16px;
        }
    }

    &__link {
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.02em;

        &.current {
            color: $orange;
        }

        @media (max-width:768px) and (orientation:landscape) {
            font-size: 26px;
        }
    }
}

.mobile-contacts {
    &__box {
        margin-bottom: 50px;

        @media (max-width:768px) and (orientation:landscape) {
            margin-bottom: 25px;
        }
    }

    &__link {
        color: $orange;
        font-size: 26px;

        @media (min-width:380px) {
            font-size: 32px;
            line-height: 1.2;
            letter-spacing: 0.02em;

        }

        @media (max-width:768px) and (orientation:landscape) {
            font-size: 18px;
        }

    }

    &__link--light {
        color: $light;
    }

    &__link:not(:last-child) {
        margin-bottom: 30px;
    }

    &__social {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__social-item:not(:last-child) {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: -10px;
            top: 0;
            display: block;
            height: 100%;
            width: 1px;
            background-color: rgba(33, 33, 33, 0.2);
        }

    }

    &__social-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: $orange;
    }
}