.works {
    &__filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 50px;
        gap: 10px;

        @media (min-width:600px) {
            justify-content: center;
        }
    }

    &__btn {
        padding: 11px 26px;
        background-color: #F5F4FA;
        border-radius: 4px;
        line-height: 1;
        color: $dark;
        transition: background-color 0.5s, color 0.5s;

        &.mixitup-control-active {
            background-color: #EC3C05;
            color: #fff;
        }
    }

    &__gallery {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @media (min-width:768px) {
            flex-direction: row;
        }

    }

    &__img {
        width: 100%;
        height: calc(100% - 460px);
    }

    &__gallery-item {
        max-width: 450px;
        width: 100%;

        @media (min-width:768px) {
            width: calc((100% - 1 * 30px) / 2);
        }

        @media (min-width:1200px) {
            width: calc((100% - 2 * 30px) / 3);
        }

    }

    &__gallery-link {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: left;

        &:hover {
            .works__text {
                transform: translateY(0%);
            }

        }
    }

    &__gallery-top {
        position: relative;
    }

    &__info {
        padding: 20px 24px;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: $light;
        position: relative;
        background-color: #fff;
        z-index: 5;
    }

    &__title {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 5px;
        color: $dark;
    }

    &__subtitle {
        font-size: 16px;
        color: $light;
        line-height: 1.9;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        background-color: rgba(236, 60, 5, 0.8);
        font-size: 18px;
        line-height: 1.6;
        color: #fff;
        transition: transform 0.5s;

    }
}